<p><%= link_to("<--- Back to all adventures", root_path) %></p>
<hr>
<br>
<% if @page != nil %>
 <%== linkify_page(@page) %> 
<% else %>
  <p>Seems like no story was created for this adventure :(</p>
<% end %>